<div class="px-4 py-8 lg:py-24">

  <div class="lg:flex lg:justify-center lg:space-x-36 lg:h-screen">
    <div class="mt-6 pt-8 pb-3 border-2 border-gray-100 shadow rounded lg:w-2/5 lg:h-2/3 lg:mt-0">
      <div class="px-2 flex flex-col items-center space-y-4 lg:h-full">
        <div class="">
          <h2 class="text-xl font-medium">My projects</h2>
        </div>

        <div class="pt-2 w-full space-y-4">
          <% current_entrepreneur.projects.reverse.each do |project| %>
            <div class="w-full flex justify-between items-baseline space-x-4">
              <%= link_to project_path(project) do %>
                <button class="text-red-500 underline font-semibold text-left"><%= project.name %></button>
              <% end %>
              <%= render partial: 'entrepreneurs/shared/project_status', locals: {project: project} %>
            </div>
          <% end %>
        </div>


        <%= link_to projects_path, class:"pt-6 w-full" do %>
          <button class="w-full py-2 bg-red-500 text-white font-bold text-lg rounded">All projects</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

