<div class="lg:w-1/3 lg:h-2/5">
  <div class="pt-4 lg:pt-0">
    <h2 class="text-center text-xl lg:text-2xl">EXPERTISE</h2>
  </div>
  <div class="pt-8 px-8 space-y-4 lg:px-0">
    <div class="flex space-x-4 items-baseline">
      <span class="w-1/3 flex flex-shrink-0 lg:text-xl">Backend :</span>
      <div class="flex flex-wrap">
        <% @alumni.language_back_tag_list.each do |language| %>
          <div class="px-2 pt-2 lg:px-4 lg:pt-4">
            <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: 'w-8') %>
          </div>
        <% end %>
     </div>
    </div>
    <div class="flex space-x-4 items-baseline">
      <span class="w-1/3 flex flex-shrink-0 lg:text-xl">Frontend :</span>
      <div class="flex flex-wrap">
        <% @alumni.language_front_tag_list.each do |language| %>
          <div class="px-2 pt-2 lg:px-4 lg:pt-4">
            <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: 'w-8') %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex space-x-4 items-baseline">
      <span class="w-1/3 flex flex-shrink-0 lg:text-xl">UI / UX :</span>
      <div class="flex flex-wrap">
        <% @alumni.language_ux_ui_tag_list.each do |language| %>
          <div class="px-2 pt-2 lg:px-4 lg:pt-4">
            <%= content_tag(:div, Language.find_by(name: language).svg.html_safe, class: 'w-8') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
