<div data-menu-target="modale" class="absolute inset-0 z-40 px-6">
  <div class="px-8 py-14 flex flex-col bg-white rounded-2xl ">
    <div class="text-right absolute top-3 right-8">
      <button data-action="click->project_modale#close" id="options-menu">
        <svg class="w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/></svg>
      </button>
    </div>
    <div>
      <span>Fanny has approved </span>
      <span class="text-red-500 font-medium">project name</span>

    </div>
    <div class="pt-4 text-center">
      <button data-action="click->project_modale#close" class="text-red-500 underline font-medium">See project and confirm</button>
    </div>
    <div class="pt-8 px-2">
      <p class="text-sm text-center italic">You are the one giving the final approval before posting your project offer, please see the project details and click confirm to post it</p>
    </div>
  </div>
</div>
<div data-menu-target="background" class="fixed inset-0 w-full h-full bg-gray-800 opacity-30"></div>
