<div class="px-8">
  <div class="bg-gray-100 py-4">
    <div class="flex flex-col items-center space-y-3">
      <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
      <h1 class="font-bold text-3xl">Thomas Farre</h1>
      <button class="underline font-medium">Profile</button>
    </div>
  </div>

  <div class="mt-6 pt-8 pb-3 border-2 border-gray-100 shadow rounded">
    <div class="px-4 flex flex-col items-center space-y-4">
      <h2 class="text-xl font-medium">MY PROJECTS</h2>
      <div class="w-full flex justify-between">
        <button class="text-red-500 underline font-semibold">Projet name</button>
        <button><svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.966.167C4.5.167-.587 7.732 2.23 14.647l1.204 2.955a.646.646 0 01-.193.747L.694 20.395a.646.646 0 00.405 1.149h10.1c6.23 0 11.28-5.05 11.28-11.28C22.48 4.689 17.96.168 12.381.168h-.415z" fill="#10182B"/></svg></button>
      </div>
      <div class="w-full flex justify-between">
        <button class="text-red-500 underline font-semibold">Projet name</button>
        <button><svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.966.167C4.5.167-.587 7.732 2.23 14.647l1.204 2.955a.646.646 0 01-.193.747L.694 20.395a.646.646 0 00.405 1.149h10.1c6.23 0 11.28-5.05 11.28-11.28C22.48 4.689 17.96.168 12.381.168h-.415z" fill="#10182B"/></svg></button>
      </div>
      <div class="w-full flex justify-between">
        <button class="text-red-500 underline font-semibold">Projet name</button>
        <button><svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.966.167C4.5.167-.587 7.732 2.23 14.647l1.204 2.955a.646.646 0 01-.193.747L.694 20.395a.646.646 0 00.405 1.149h10.1c6.23 0 11.28-5.05 11.28-11.28C22.48 4.689 17.96.168 12.381.168h-.415z" fill="#10182B"/></svg></button>
      </div>
      <div class="pt-4 w-full">
       <button class="w-full py-2 bg-red-500 text-white font-bold text-lg rounded">All projects</button>
      </div>
    </div>
  </div>

  <div class="mt-6 py-8 border-2 border-gray-100 shadow rounded">
    <div class="px-4 flex flex-col space-y-4">
        <h2 class="text-xl font-medium text-center">Articles</h2>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">Article name</button>
          <div class="flex justify-around">
            <button class="font-medium px-4">✏️</button>
            <button class="font-medium">🗑️</button>
          </div>
        </div>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">Article name</button>
          <div class="flex justify-around">
            <button class="font-medium px-4">✏️</button>
            <button class="font-medium">🗑️</button>
          </div>
        </div>
      <div class="pt-4 w-full text-center">
        <button class="underline font-medium">+ Write a new article</button>
      </div>
      <div class="pt-4 w-full">
        <button class="w-full py-2 bg-red-500 text-white font-bold text-lg rounded">Library</button>
      </div>
    </div>
  </div>
</div>
