<div class="px-8">
  <div class="bg-gray-100 py-4">
    <div class="flex flex-col items-center space-y-3">
      <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
      <h1 class="font-bold text-3xl">Thomas Farre</h1>
      <button class="underline font-medium">Edit</button>
    </div>
  </div>

  <div class="mt-6 py-8 border-2 border-gray-100 shadow rounded">
    <div class="px-4 flex flex-col space-y-4">
        <h2 class="text-xl font-medium text-center">Expertise</h2>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">Backend</button>
          <div class="flex justify-around">
            <div class="underline font-medium px-4">JS</div>
            <div class="underline font-medium">Rails</div>
          </div>
        </div>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">Frontend</button>
          <div class="flex justify-around">
            <div class="underline font-medium px-4">tailwind</div>
          </div>
        </div>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">DevOps</button>
          <div class="flex justify-around">
            <div class="underline font-medium px-4">github</div>
            <div class="underline font-medium">PostgreSQL</div>
          </div>
        </div>
        <div class="flex justify-between">
          <button class="text-red-500 font-medium">Data</button>
          <div class="flex justify-around">
            <div class="underline font-medium px-4">Python</div>
            <div class="underline font-medium">R</div>
          </div>
        </div>
        <h2 class="text-xl font-medium text-center">About</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis, facilis minima facere, repellat vero suscipit! Reprehenderit optio sit quisquam expedita nemo quam, a aliquam nulla beatae voluptates officiis nesciunt.</p>
    </div>
  </div>
</div>

