<div class="px-8 xl:px-24 2xl:px-60">

  <div class="lg:flex lg:flex-wrap lg:pt-32 lg:justify-center lg:h-screen">

    <div class="lg:mt-0 lg:w-1/3 lg:h-2/5">
      <div class="flex flex-col items-center space-y-3">
        <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
        <h1 class="font-bold text-3xl"><%= @alumni.name %></h1>
      </div>
    </div>

    <%= render 'alumnis/shared/languages_alumni' %>


    <div class="lg:w-1/3 lg:px-8 lg:h-2/5">
      <div class="pt-8 lg:pt-0">
        <h2 class="text-center text-xl lg:text-2xl">ABOUT</h2>
      </div>
      <div class="pt-6">
        <p class="text-justify tracking-tight lg:text-lg"><%= @alumni.about %></p>
      </div>
    </div>

    <% if @alumni == current_alumni %>
      <%= link_to edit_alumni_path(@alumni), class:"pt-8 lg:w-2/5 lg:pt-20 hover:opacity-80" do %>
          <button class="py-3 w-full rounded bg-red-500 text-white font-bold text-lg">Edit my profile</button>
      <% end %>
    <% end %>


  </div>
</div>

