<footer class="sticky bottom-0 bg-white mt-6 py-3 px-4 flex flex-col items-center">
  <a href="#" class="flex flex-col items-center">
    <svg class="w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/></svg>
    <span>Back to top</span>
  </a>
</footer>
