<header class="relative">
  <div>
    <div class="flex justify-center space-x-12 items-center">
      <div class="flex items-center space-x-4">
        <span class="text-red-600">LeWagon Labs by</span>
        <svg class="w-40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.43 15c1.9 0 3.43-1.57 3.43-3.5S6.33 8 4.43 8A3.47 3.47 0 001 11.5C1 13.43 2.54 15 4.43 15z" fill="#FD1015"/><path d="M2.61 12.4s-.02.03-.04.03h-.12a.04.04 0 01-.04-.04v-.09c0-.02.02-.04.04-.04v-.55c0-.02.02-.04.04-.04h3.18c.22 0 .42.1.56.26l.04.05c.02.02.04.03.07.03h.16c.05 0 .08.04.08.09v.25c0 .04-.03.09-.08.09h-.29a.04.04 0 01-.04-.05.51.51 0 00-.16-.33.5.5 0 00-.34-.13.5.5 0 00-.49.46c0 .03-.02.05-.04.05H3.65a.04.04 0 01-.04-.05.5.5 0 00-.5-.46.5.5 0 00-.49.46zm3.89-.6c0 .02-.02.04-.04.04h-.07a.03.03 0 01-.03-.02l-.06-.07a.9.9 0 00-.63-.25H2.5a.04.04 0 01-.04-.04v-.99c0-.19.13-.34.32-.37.55-.08 1.08-.12 1.57-.12.87 0 1.21.07 1.54.25.2.12.39.38.57.8.03.09.05.17.05.26v.5zm-4.05-.26v.09-.09zm.24-1.1a.04.04 0 00-.04.05v.63c0 .02.02.04.04.04h.62c.03 0 .04-.02.04-.04v-.63a.04.04 0 00-.04-.04H2.7zm1.74 0a.04.04 0 00-.04.05v.63c0 .02.02.04.04.04h.62c.02 0 .04-.02.04-.04v-.63a.04.04 0 00-.04-.04h-.62zm-.87 0a.04.04 0 00-.04.05v.63c0 .02.02.04.04.04h.62c.02 0 .04-.02.04-.04v-.63a.04.04 0 00-.04-.04h-.62zm1.74 0a.04.04 0 00-.04.05v.63c0 .02.02.04.04.04h.97c.02-.01.03-.04.02-.06-.04-.12-.1-.23-.16-.33l-.02-.05a.52.52 0 00-.46-.28H5.3zm-2.2 2.33a.33.33 0 01-.32-.34c0-.19.14-.34.33-.34.18 0 .33.15.33.34 0 .19-.15.34-.33.34zm0-.17c.1 0 .17-.08.17-.17 0-.1-.07-.17-.16-.17-.1 0-.17.07-.17.17s.08.17.17.17zm2.57.17a.33.33 0 01-.33-.34c0-.19.15-.34.33-.34.19 0 .33.15.33.34 0 .19-.15.34-.33.34zm0-.17c.1 0 .17-.08.17-.17 0-.1-.07-.17-.17-.17-.09 0-.16.07-.16.17s.07.17.16.17z" fill="#fff"/><path d="M10.02 11.37h.9a.49.49 0 00-.46-.3.5.5 0 00-.44.3zm1.35.38a.06.06 0 01-.05.03h-1.3a.49.49 0 00.77.18.08.08 0 01.07-.02l.34.07c.03 0 .05.04.04.07v.02l-.01.01a.93.93 0 01-.77.42.94.94 0 01-.93-.95c0-.52.42-.94.93-.94a.94.94 0 01.91 1.12zm-2.47.65V9.94c0-.03.02-.05.05-.06l.31-.07c.03 0 .07.02.07.05v2.54c0 .03-.03.06-.06.06h-.31c-.03 0-.06-.02-.06-.06zm4.32.07h-.34a.06.06 0 01-.06-.05l-.56-1.65a.06.06 0 01.04-.08h.32c.03 0 .05.01.07.04l.33 1c0 .02.03.03.04.02l.02-.02.34-1c0-.03.03-.04.05-.04h.35c.03 0 .05.01.06.04l.34 1c0 .02.02.03.04.02l.01-.02.34-1c0-.03.03-.04.06-.04h.3c.04 0 .07.02.07.06v.02l-.56 1.65c0 .03-.03.04-.06.04h-.35a.06.06 0 01-.06-.04l-.33-1c0-.02-.03-.03-.04-.02l-.02.02-.34 1c0 .03-.03.05-.06.05zm3.28-.1a.91.91 0 01-1.32-.3.96.96 0 01-.13-.5c0-.52.41-.94.93-.94.2 0 .37.06.52.17v-.05c0-.03.02-.06.06-.06h.32c.03 0 .06.03.06.06v1.66c0 .03-.03.06-.06.06h-.32a.06.06 0 01-.06-.06v-.05zm-.5-.29a.5.5 0 00.5-.5.5.5 0 00-.5-.5.5.5 0 00-.49.5c0 .28.23.5.5.5zm2.59-1.29v-.04c0-.04.02-.06.06-.06h.32c.03 0 .06.02.06.06v1.66c-.01.52-.43.94-.95.94a.9.9 0 01-.5-.15.09.09 0 01-.03-.1l.1-.3c.01-.03.04-.05.07-.04h.03c.03.05.07.07.1.08a.5.5 0 00.67-.19.52.52 0 00.07-.25v-.04a.91.91 0 01-1.32-.3.96.96 0 01-.13-.48c0-.53.41-.95.93-.95.2 0 .37.06.52.16zm-.5 1.29a.5.5 0 00.5-.5.5.5 0 00-.5-.5.5.5 0 00-.49.5c0 .28.22.5.5.5zm2.06.45a.94.94 0 01-.92-.95c0-.53.41-.95.92-.95.52 0 .93.42.93.95 0 .52-.41.95-.93.95zm0-.45a.5.5 0 00.5-.5.5.5 0 00-.5-.5.5.5 0 00-.49.5c0 .28.22.5.5.5zm2.85-.6v.93c0 .03-.03.06-.06.06h-.35a.06.06 0 01-.06-.06v-.92a.41.41 0 00-.4-.42c-.23 0-.41.19-.41.42v.92c0 .03-.03.06-.06.06h-.32a.06.06 0 01-.06-.06v-1.66c0-.04.03-.06.06-.06h.32c.03 0 .06.02.06.06a.83.83 0 011.17.3c.07.14.11.29.11.44z" fill="#FD1015"/></svg>
      </div>
      <div data-controller="menu" class="relative outline-none">
        <button data-action="click->menu#toggle" id="options-menu" class="focus:outline-none hover:text-gray-600">
          <svg class="w-8 z-40" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        </button>
        <div data-menu-target="toggleable" class="hidden absolute z-40 right-0 -mt-3 mr-1 w-60 flex flex-col items-start space-y-4 px-4 py-4 bg-white rounded border-2 border-black">
          <button>My dashboard</button>
          <button>My profile</button>
          <button>Post a project</button>
          <button>Log out</button>
        </div>
        <button data-action="click->menu#toggle" data-menu-target="invisible" class="hidden fixed inset-0 w-full h-full cursor-default focus:outline-none"></button>
      </div>
    </div>
    <div>
      <div class="h-60 bg-cover bg-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://samarew.com/wp-content/uploads/2019/10/Sa-voiture-sent-le-brule%CC%81-noix-Etats-Unis.jpeg);"></div>
    </div>

  </div>
</header>

