
<div class="px-8 py-8">
  <div>
    <input class="w-full px-4 py-2 border-2 border-gray-200" type="text" placeholder="Search by project name, project leader">
  </div>

  <div class="pt-16 flex flex-col space-y-12">
    <div class="px-6 py-8 border-2 border-gray-400 border-opacity-30 rounded-xl flex flex-col shadow">
      <div>
        <h2 class="font-bold text-2xl">Project Name</h2>
      </div>
      <div class="pt-6">
        <span class="text-lg">by</span>
        <span class="font-bold text-xl">Company Name</span>
      </div>
      <div class="pt-1">
        <span class="text-lg">mentored by</span>
        <span class="font-bold text-xl">Fanny</span>
      </div>
      <div class="pt-4">
        <p>SuperCompany wants to launch a new service for its employees : a messenger app that facilitates the corporate communication.</p>
      </div>
      <div class="pt-6">
        <span>This project needs :</span>
      </div>
      <div class="pt-4 inline-flex justify-center space-x-12">
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g clip-path="url(#clip0)"><path d="M12.001 10c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C13.666 15.656 15.027 17 18.001 17c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C16.337 11.344 14.976 10 12.001 10zm-6 7c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C7.666 22.656 9.027 24 12.001 24c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C10.337 18.344 8.976 17 6.001 17z" fill="#05B6D5"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></svg>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M0 0h24v24H0z"/><path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z" fill="#F7E018"/></svg>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g clip-path="url(#clip0)"><path d="M14.77 0L12 5.542 9.227 0H0l12 24.001L24 0h-9.23z" fill="#41B883"/><path d="M14.77 0L12 5.542 9.227 0H4.8L12 14.4 19.2 0 14.77 0z" fill="#34495E"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></svg>
      </div>
      <div class="pt-10">
        <button class="w-full py-3 rounded bg-red-500 text-white font-bold text-lg">See more</button>
      </div>
    </div>

    <div>
      <div class="px-6 py-8 border-2 border-gray-400 border-opacity-30 rounded-xl flex flex-col shadow">
        <div>
          <h2 class="font-bold text-2xl">Project Name</h2>
        </div>
        <div class="pt-6">
          <span class="text-lg">by</span>
          <span class="font-bold text-xl">Company Name</span>
        </div>
        <div class="pt-1">
          <span class="text-lg">mentored by</span>
          <span class="font-bold text-xl">Fanny</span>
        </div>
        <div class="pt-4">
          <p>SuperCompany wants to launch a new service for its employees : a messenger app that facilitates the corporate communication.</p>
        </div>
        <div class="pt-6">
          <span>This project needs :</span>
        </div>
        <div class="pt-4 inline-flex justify-center space-x-12">
          <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g clip-path="url(#clip0)"><path d="M12.001 10c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C13.666 15.656 15.027 17 18.001 17c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C16.337 11.344 14.976 10 12.001 10zm-6 7c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C7.666 22.656 9.027 24 12.001 24c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C10.337 18.344 8.976 17 6.001 17z" fill="#05B6D5"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></svg>
          <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M0 0h24v24H0z"/><path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z" fill="#F7E018"/></svg>
          <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g clip-path="url(#clip0)"><path d="M14.77 0L12 5.542 9.227 0H0l12 24.001L24 0h-9.23z" fill="#41B883"/><path d="M14.77 0L12 5.542 9.227 0H4.8L12 14.4 19.2 0 14.77 0z" fill="#34495E"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></svg>
        </div>
        <div class="pt-10">
          <button class="w-full py-3 rounded bg-red-500 text-white font-bold text-lg">See more</button>
        </div>
    </div>
  </div>

</div>
