<div class="px-8">
  <div>
    <div class="flex flex-col items-center space-y-3">
      <svg class="w-20" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67 67"><circle cx="33.5" cy="33.5" r="33.5" fill="#C4C4C4"/></svg>
      <h1 class="font-bold text-3xl">Project Name</h1>
    </div>
  </div>


  <div class="pt-4">
    <h2 class="font-medium text-center text-xl">Company name</h2>
  </div>

  <div class="pt-2">
    <p class="text-justify font-medium">Short description of the company Short description of the company Short description of the company.</p>
  </div>

  <div class="pt-8">
    <h2 class="font-medium text-center text-xl">Project description</h2>
  </div>

  <div class="pt-2">
    <p class="text-justify font-medium">Short description of the company Short description of the company Short description of the company Short description of the company Short description of the company Short description of the company.</p>
  </div>

  <div class="pt-8">
    <h2 class="font-medium text-center text-xl">Project information</h2>
  </div>

  <div class="px-12 pt-4 flex flex-col items-center">
    <div class="flex flex-col space-y-3">
      <div>
        <span>Estimated duration:</span>
        <span>5 weeks</span>
      </div>
      <div>
        <span>Compensation :</span>
        <span>No</span>
      </div>
      <div>
        <span>Mentor :</span>
        <button class="font-bold underline">Jean Romain Krupa</button>
      </div>
      <div class="inline-flex items-baseline space-x-4">
        <span>Backend :</span>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="#000" d="M0 0h24v24H0z"/><path d="M0 0h24v24H0V0zm22.034 18.276c-.175-1.095-.888-2.015-3.003-2.873-.736-.345-1.554-.585-1.797-1.14-.091-.33-.105-.51-.046-.705.15-.646.915-.84 1.515-.66.39.12.75.42.976.9 1.034-.676 1.034-.676 1.755-1.125-.27-.42-.404-.601-.586-.78-.63-.705-1.469-1.065-2.834-1.034l-.705.089c-.676.165-1.32.525-1.71 1.005-1.14 1.291-.811 3.541.569 4.471 1.365 1.02 3.361 1.244 3.616 2.205.24 1.17-.87 1.545-1.966 1.41-.811-.18-1.26-.586-1.755-1.336l-1.83 1.051c.21.48.45.689.81 1.109 1.74 1.756 6.09 1.666 6.871-1.004.029-.09.24-.705.074-1.65l.046.067zm-8.983-7.245h-2.248c0 1.938-.009 3.864-.009 5.805 0 1.232.063 2.363-.138 2.711-.33.689-1.18.601-1.566.48-.396-.196-.597-.466-.83-.855-.063-.105-.11-.196-.127-.196l-1.825 1.125c.305.63.75 1.172 1.324 1.517.855.51 2.004.675 3.207.405.783-.226 1.458-.691 1.811-1.411.51-.93.402-2.07.397-3.346.012-2.054 0-4.109 0-6.179l.004-.056z" fill="#F7E018"/></svg>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.89 22.44V24h1.983c.406 0 1.103-.422 1.127-1.604v-.603c0-1.008-.582-1.604-1.127-1.604h-.989v-.724h1.959v-1.568h-1.88c-.485 0-1.133.568-1.133 1.629v.543c0 1.059.642 1.603 1.133 1.603 1.364.008-.327 0 .934 0v.76l-2.007.007zm-10.62-.38s1.06-.129 1.06-2.078c0-1.947-1.285-2.128-1.285-2.128H7.729V24h1.164v-1.483L9.9 24h1.722l-1.352-1.94zm-.45-1.258h-.927v-1.405h.934s.26.137.26.697c0 .56-.266.708-.266.708H9.82zm4.384-2.905H13.02c-.842 0-1.127 1.086-1.127 1.603V24h1.182v-1.078h1.11V24h1.145v-4.5c0-1.31-.836-1.603-1.127-1.603h.001zm-.019 3.285H13.07v-1.493s0-.335.37-.335h.406c.327 0 .333.335.333.335v1.491l.006.002zm1.686-3.285h1.23V24h-1.23v-6.103zm2.958 4.525v-4.525h-1.224V24h2.88v-1.578h-1.656zM.424 24h4.79s-.916-5.94 2.115-8.345c.66-.456 2.764-2.164 6.208 1.457.109-.13.212-.233.212-.233s-3.152-4.474-6.663-3.974c-1.764.224-3.934 2.509-5.207 5.527C.606 21.449.424 23.999.424 23.999V24zm0 0h4.79s-.916-5.94 2.115-8.345c.66-.456 2.764-2.164 6.208 1.457.109-.13.212-.233.212-.233s-3.152-4.474-6.663-3.974c-1.764.224-3.934 2.509-5.207 5.527C.606 21.449.424 23.999.424 23.999V24zm0 0h4.79s-.916-5.94 2.115-8.345c.66-.456 2.764-2.164 6.208 1.457.109-.13.212-.233.212-.233s-3.152-4.474-6.663-3.974c-1.77.224-3.94 2.509-5.213 5.527C.6 21.449.424 23.999.424 23.999V24zm9.979-10.612l.024-.577c-.055-.044-.206-.147-.588-.303l-.024.57c.2.094.394.198.588.31zm-.576 1.827l-.025.543c.2.01.4.045.6.105l.025-.537a3.097 3.097 0 00-.6-.11zm-2.243-2.69h.06L7.523 12c-.195 0-.389.018-.582.052l.115.508c.176-.026.352-.034.528-.034zm.29 3.173l.14.595a3.35 3.35 0 01.527-.301l-.133-.569c-.182.075-.36.167-.533.275h-.001zm-2.752-2.266l-.272-.595c-.16.117-.318.24-.473.37l.279.603c.157-.138.309-.268.466-.38v.002zm1.243 3.879l.291.62c.103-.215.224-.415.358-.612l-.273-.586c-.137.178-.263.37-.376.576v.002zm-.879 2.775l.491.551c.025-.34.067-.676.127-1.008l-.436-.49c-.074.31-.135.627-.182.947zm-2.655-4.094l-.43-.536c-.158.216-.31.432-.45.647l.468.57c.129-.237.266-.464.412-.681zM1 19.845l-.697-.362c-.107.341-.208.686-.303 1.034l.697.362c.079-.293.206-.715.303-1.034zm4.395 2.43c.012.457.043.828.073 1.087l.727.371c-.062-.37-.11-.744-.145-1.12l-.655-.337z" fill="#C00"/></svg>
      </div>
      <div class="inline-flex items-baseline space-x-4">
        <span>Frontend :</span>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g clip-path="url(#clip0)"><path d="M12.001 10c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C13.666 15.656 15.027 17 18.001 17c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C16.337 11.344 14.976 10 12.001 10zm-6 7c-3.2 0-5.2 1.556-6 4.667 1.2-1.556 2.6-2.14 4.2-1.75.913.221 1.565.865 2.288 1.579C7.666 22.656 9.027 24 12.001 24c3.2 0 5.2-1.556 6-4.667-1.2 1.556-2.6 2.14-4.2 1.75-.913-.221-1.565-.865-2.288-1.579C10.337 18.344 8.976 17 6.001 17z" fill="#05B6D5"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></svg>
      </div>
    </div>
  </div>

  <div class="pt-8">
    <h2 class="font-medium text-center text-xl">TO-DO List</h2>
  </div>

  <div class="pt-4 flex justify-center">
    <svg class="w-16" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"><path fill-rule="evenodd" clip-rule="evenodd" d="M35 0c19.33 0 35 15.67 35 35S54.33 70 35 70 0 54.33 0 35 15.67 0 35 0zm0 7.467C19.794 7.467 7.467 19.794 7.467 35c0 15.206 12.327 27.533 27.533 27.533 15.206 0 27.533-12.327 27.533-27.533C62.533 19.794 50.206 7.467 35 7.467z" fill="#D23333" fill-opacity=".5"/><g clip-path="url(#clip0)" fill="#000"><path d="M31.568 44.32c3.658 0 5.866-2.785 5.874-7.578.007-4.759-2.23-7.486-5.874-7.486-3.65 0-5.866 2.72-5.873 7.486-.015 4.78 2.208 7.57 5.873 7.578zm0-2.55c-1.669 0-2.748-1.676-2.741-5.029.007-3.302 1.08-4.964 2.741-4.964 1.655 0 2.734 1.662 2.734 4.965.008 3.352-1.072 5.028-2.734 5.028zM48.341 29.052c.004.984.622 1.815 1.777 1.815 1.142 0 1.769-.83 1.769-1.815v-.46c0-.989-.61-1.816-1.769-1.816-1.138 0-1.773.831-1.777 1.816v.46zm-4.389-4.994c0 .984.622 1.815 1.777 1.815 1.138 0 1.768-.827 1.764-1.815v-.46c.004-.99-.61-1.816-1.764-1.816-1.134 0-1.777.827-1.777 1.815v.46zm.358 6.63h1.018l6-8.727H50.31l-6 8.727zm5.024-2.096c.004-.49.217-.963.784-.963.588 0 .771.473.771.963v.46c0 .49-.2.963-.77.963-.58 0-.78-.477-.785-.963v-.46zm-4.385-4.995c0-.486.213-.963.78-.963.588 0 .771.473.771.963v.46c0 .49-.2.964-.771.964-.58 0-.78-.473-.78-.963v-.46z"/></g><defs><clipPath id="clip0"><path fill="#fff" transform="translate(15 17)" d="M0 0h40.645v35.376H0z"/></clipPath></defs></svg>
  </div>

  <div class="pt-4 flex flex-col items-center">
    <div class="flex flex-col space-y-3">
      <div class="inline-flex items-center space-x-4">
        <svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 1A5.333 5.333 0 0121 6.333v9.334A5.333 5.333 0 0115.667 21H6.333A5.333 5.333 0 011 15.667V6.333A5.333 5.333 0 016.333 1h9.334z" stroke="#96999C" stroke-width="2"/></svg>
        <span>L’utilisateur peut créer un compte</span>
      </div>
      <div class="inline-flex items-center space-x-4">
        <svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 1A5.333 5.333 0 0121 6.333v9.334A5.333 5.333 0 0115.667 21H6.333A5.333 5.333 0 011 15.667V6.333A5.333 5.333 0 016.333 1h9.334z" stroke="#96999C" stroke-width="2"/></svg>
        <span>L’utilisateur peut dialoguer par chat</span>
      </div>
      <div class="inline-flex items-center space-x-4">
        <svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 1A5.333 5.333 0 0121 6.333v9.334A5.333 5.333 0 0115.667 21H6.333A5.333 5.333 0 011 15.667V6.333A5.333 5.333 0 016.333 1h9.334z" stroke="#96999C" stroke-width="2"/></svg>
        <span>L’utilisateur peut créer un article</span>
      </div>
      <div class="inline-flex items-center space-x-4">
        <svg class="w-6" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path clip-rule="evenodd" d="M15.667 1A5.333 5.333 0 0121 6.333v9.334A5.333 5.333 0 0115.667 21H6.333A5.333 5.333 0 011 15.667V6.333A5.333 5.333 0 016.333 1h9.334z" stroke="#96999C" stroke-width="2"/></svg>
        <span>Faire le design de la page d’accueil</span>
      </div>

    </div>
  </div>

  <div class="pt-8">
    <h2 class="font-medium text-center text-xl">Alumni team</h2>
  </div>

  <div class="pt-4 px-16 flex flex-col space-y-3">
    <div class="inline-flex items-center">
      <span>Backend:</span>
      <div class="flex justify-end space-x-2 w-full">
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
      </div>
    </div>
    <div class="inline-flex items-center">
      <span>Frontend:</span>
      <div class="flex justify-end space-x-2 w-full">
        <svg class="w-8" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><circle cx="14.5" cy="14.5" r="14.4" fill="#fff" stroke="#000" stroke-width=".2"/><path d="M14.256 16.598c.008-.465.06-.832.158-1.102.098-.27.297-.568.598-.896l.767-.791c.328-.371.492-.77.492-1.196 0-.41-.107-.73-.322-.96-.215-.235-.527-.352-.937-.352-.399 0-.719.105-.961.316-.242.211-.364.494-.364.85h-1.083c.007-.633.232-1.143.673-1.53.446-.39 1.024-.585 1.735-.585.738 0 1.312.199 1.722.597.414.395.621.938.621 1.63 0 .683-.316 1.356-.949 2.02l-.638.633c-.286.317-.428.772-.428 1.366h-1.084zm-.047 1.857c0-.176.053-.322.158-.44.11-.12.27-.181.48-.181.212 0 .372.06.481.182a.62.62 0 01.164.44.619.619 0 01-.164.439c-.11.113-.27.17-.48.17-.211 0-.371-.057-.48-.17a.632.632 0 01-.159-.44z" fill="#000"/></svg>
      </div>
    </div>
  </div>

  <div class="pt-8 flex space-x-4 w-full">
    <div class="w-1/2">
      <button class="w-full py-2 px-3 bg-red-500 text-white text-lg font-semibold rounded">Confirm project</button>
    </div>
    <div class="w-1/2">
      <button class="w-full py-2 px-3 bg-red-500 text-white text-lg font-semibold rounded">Contact Mentor</button>
    </div>
  </div>
</div>

